.boxlarge {
  width: 455px;
  margin-top: 48px;
  margin-left: 42px;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background: #ffffff;
}
.responsive-table li:hover {
  background: #2e9d8bad;
}
.responsive-table li:active {
  background: #3dc610;
}
.responsive-table .table-header {
  background-color: #95a5a6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.responsive-table .table-row {
  background-color: #ffffff;
  border: 1px solid #2e9d8a;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  height: 70px;
}
.responsive-table .col-1 {
  flex-basis: 10%;
}

.responsive-table .col-2 {
  flex-basis: 40%;
}
.responsive-table .col-3 {
  flex-basis: 25%;
}
.responsive-table .col-4 {
  flex-basis: 25%;
}
.imagecr {
  width: 30px;
  height: 30px;
}
.icont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.icont ion-icon {
  width: 20px;
  height: 20px;
}
